# Redirect HTTP (port 80) to HTTPS (port 443)
{$WEB_DOMAIN}:80 {
    redir https://{host}{uri} permanent
}

# Serve static files (index.html, styles.css, script.js) on port 5000
{$WEB_DOMAIN} {
    root * /srv
    file_server
}

# Scheduler on HTTPS (secured connection)
scheduler.{$WEB_DOMAIN} {
    reverse_proxy scheduler:8000
}

# Default HTTPS configuration for mqttx-web
dash.{$WEB_DOMAIN} {
    reverse_proxy mqtt5:18083
}

# WSS configuration for mqtt.mstservices.tech (WebSocket Secure)
mqtt.{$WEB_DOMAIN} {
    reverse_proxy mqtt5:1884
}

# WS connection on port 1884 for mqtt.mstservices.tech
#mqtt.{$WEB_DOMAIN}:1884 {
#    reverse_proxy mqtt5:1884
#}

# MQTT connection on port 1883 for mqtt.mstservices.tech
#mqtt.{$WEB_DOMAIN}:1883 {
#    reverse_proxy mqtt5:1883
#}

# Portainer on HTTPS (secured connection)
#portainer.{$WEB_DOMAIN} {
#    reverse_proxy portainer:9000
#}
